@media screen and (min-width: 320px) and (max-width: 480px) {
	
body{
	padding-top: 102px;
}
.navbar-toggle {
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    z-index: 10;
    border:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
 .navbar-default .navbar-toggle:hover {
    background-color: #feb4e3;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    margin-bottom: 6px;
}
#navbar{
	position: relative;
	width:100%;
}
.dropdown-content {
    display: block;
    position: relative;
    background-color: #e4abd6;
    min-width: 160px;
    box-shadow: none;
    list-style: none;
    padding-left: 0px;
}
#branding{
	font-size:36px;
}
#branding img{
	width:70px;
}
.leading_img h1{
	font-size:36px;
	margin-top: 30px;
}
.leading_img {
    background-image: url("../images/leading_img_mobile.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    min-height: 370px;
}
.leading_overlay {
    position: absolute;
    z-index: 10;
    top: 29%;
    left: 32%;
    width: 120px;
}
.featured_text {
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.textblock_left, .textblock_right{
	text-align:justify;
	font-size:10px;
	margin-bottom: 15px;
}
.quote{
	min-width:100%;
	font-size:20px;
	padding-left: 0px;
	padding-right: 0px;
}
.quote_left {
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 20px;
}
.quote_right {
    position: absolute;
    top: 0;
    right: -30px;
    width: 20px;
}
.pink_top:after {
    content: "";
    background: #ffc1e8;
    position: absolute;
    top: 0;
    left: 30px;
    right: 15px;
    height: 10px;
    width:81%;
}
#left_text {
    width: 50%;
    padding-left: 30px;
    font-size: 10px;
}
#right_text {
    width: 40%;
    padding-right: 30px;
    font-size: 10px;
}
.left{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}
.right{
	padding-right: 30px;
	padding-left: 30px;
}
.left_img, .right_img{
	min-height: 220px;
}
.blog{
	margin-top: 50px;
}
.blog .col-md-3, .about_me .col-md-3 {
    padding-left: 30px;
    padding-right: 30px;
}
.blog_teaser h4{
	width:40%;
	display:inline-block;
	font-size:10px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.blog_teaser h4:nth-child(even){
	margin-right: 35px;

}

.blog_teaser h2 {
    font-size: 12px;
    padding-top: 10px;
}
.blog_teaser {
    height: 170px;
}
.blog_teaser a {
    font-size: 10px;
}
.about_me {
    margin-top: 50px;
}
.about_teaser {
    background-color: #84c5cd;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.horsegirl_img{
	margin-left: 25%;
	margin-right: 25%;
	width:50%;
}
.about_teaser p{
	font-size:10px;
}
#about_me_headline{
	font-size: 35px;
	margin-bottom: 10px;
}
.social_icons {
    margin-top: 50px;
    padding-top: 25px;
}
.social_icons .row{
	display: inline-block;
	margin-right: 0px;
	margin-left: 0px;
}
.social {
    min-height: 65px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    margin-bottom: 10px;
    margin-right: 15px;
}
.social{
	width:19%;
	display: inline-block;
}
.snapchat{
	margin-right: 0px;
}
.footer_text{
	font-size:10px;
	width:50%;
}
footer{
	margin-top: 50px;
}
}
@media screen and (min-width: 375px) and (max-width: 627px) {
.social {
    
    margin-right: 30px;
}
.snapchat{
	margin-right: 0px;
}
.pink_top:after {
    content: "";
    background: #ffc1e8;
    position: absolute;
    top: 0;
    left: 30px;
    right: 15px;
    height: 10px;
    width:85%;
}

}