body{
	font-family: 'Cabin', sans-serif;
	padding-top: 142px;
}
.navbar-default {
    background-color: #feb4e3;
    border: none;
}
#branding{
	font-family:'Great Vibes', cursive;
	color:white;
	font-size: 40px;
	font-weight: 400;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-nav>li{
	min-width: 150px;
	text-align: center;
	text-transform: uppercase;
}
.navbar{
	margin-bottom: 50px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
#navbar{
	position: absolute;
	float: left;
    width: 50%;
    height: 50% !important;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;

}
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #feb4e3;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style: none;
    padding-left: 0px;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1000;
}
.dropdown:hover{
	background-color: #efa4d3;
}
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}
    
.leading_img{
	background-image: url("../images/leading_img.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	min-height: 500px;
}
.leading_img h1{
	margin-top: 100px;
	font-family:'Great Vibes', cursive;
	font-size:45px;
	z-index: 10;
	text-align: center;
	color: white;
}
.leading{
	background-color: #60b4bf;
}
.leading_overlay{
	position: absolute;
	z-index: 10;
	top: 36%;
	left: 44%;
}
.textblock_left{
	margin-bottom: 30px;
}
.quote{
	font-family:'Great Vibes', cursive;
	font-size: 50px;
	min-width: 190%;
    text-align: center;
    color:#60b4bf;
    position: relative;
    padding-top: 15px;
    padding-right: 70px;
    padding-left: 45px;
    margin-bottom: 15px;
}
.quote_left{
	position: absolute;
	bottom:0;
	left:0;
}
.quote_right{
	position: absolute;
	top:0;
	right:0;
}
.featured_text{
	margin-top: 100px;
}
.left_img{
	background-image: url("../images/left_img.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 280px;
	background-position: center center;
}
.left{
	padding-left: 0px;
}
.right_img{
	background-image: url("../images/right_img.png");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 280px;
	background-position: center center;
}
.right{
	padding-right: 0px;
}
.spacer{
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
}
.blog_teaser{
	height:330px;
	background-color: #ffc1e8;
}
.blog .col-md-12 p{
	width: 50%;
}

.pink_top:after {
  content:""; 
  background: #ffc1e8; 
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 10px; 
  width: 100%;
}
#left_text{
	width:50%;
	float:left;
	text-transform: uppercase;
}
#right_text{
	width:40%;
	float:right;
	text-align: right;
}
#right_text a{
	color:#84c5cd;
}
.blog_teaser h2{
	font-size:20px;
}
.blog_teaser h4{
	font-size:15px;
	color:white;
	margin-bottom: 20px;
}
.blog_teaser a{
	float: right;
	color:black;
}
.blog{
	margin-top: 100px;
}
.blog .col-md-3, .about_me .col-md-3{
	padding-left:30px;
}
.horsegirl_img{
	border: 3px solid white;
	width: 200px;
	height:auto;
}
.about_me{
	margin-top: 100px;
}
.about_teaser{
	background-color: #84c5cd;
	padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 65px;
}
#about_me_headline{
	font-family:'Great Vibes', cursive;
	color:white;
	font-size: 40px;
	margin-bottom: 30px;
}
.bloglink{
	color:white;
}
.facebook{
	background-image: url("../images/icons/facebook.png");
	min-height: 50px;
}
.instagram{
	background-image: url("../images/icons/instagram.png");
}
.youtube{
	background-image: url("../images/icons/youtube.png");
}
.skype{
	background-image: url("../images/icons/skype.png");
}
.snapchat{
	background-image: url("../images/icons/snapchat.png");
}
.social{
	min-height: 65px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
	margin-bottom: 10px;
}
.social_icons:after {
  content:""; 
  background: #84c5cd; 
  position: absolute; 
  top: 0; 
  right: 0; 
  height: 10px; 
  width: 100%;
}
.social_icons{
	padding-top: 50px;
}
footer{
	background-color: #878787;
	min-height: 120px;
	margin-top: 100px;
}
.footer_text{
	text-align: center;
	width:20%;
	color:white;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}


